<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">Derechos de propiedad</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <p>
            Todos los derechos reservados, prohibida su reproducción total o parcial sin autorización. La marca registrada "GASPASA"
            y cualquier otro producto, servicio, submarca o logos de GASPASA usados, citados y/o referenciados en esta App, son marcas
            registradas de Grupo Alerta o de alguna de sus afiliadas.
        </p>
        <p>
            Cualquier otra marca registrada utilizada en esta App es propiedad de sus respectivos dueños. Otros productos y/o nombres
            de Compañías usados aquí pueden ser protegidos por sus respectivas marcas registradas o patentes. El contenido de esta APP
            no debe ser interpretado como permiso otorgado, implícito, o de alguna otra forma, licencia o derecho al uso de cualquier
            marca registrada exhibida, sin el permiso por escrito de Grupo Alerta o de su respectivo dueño.
        </p>
    </div>
</ons-page>