<ons-page class="gray-b" ng-controller="AboutController as about">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Acerca de</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="padding-2x list-big-items" style="margin-top: 1em;">
    <ons-list style="background: transparent;"><!-- class="list-big-items" -->
      <ons-list-item tappable ng-click="about.loadRights()">
        <div>Derechos de propiedad</div>
      </ons-list-item>
      <ons-list-item tappable ng-click="about.loadTerms()">
        <div>Términos y condiciones</div>
      </ons-list-item>
      <ons-list-item tappable ng-click="about.loadPrivacy()">
        <div>Políticas de privacidad</div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>