<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">Medidor electronico</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <p>
            Conoce el porcentaje de gas que tiene tu tanque estacionario. <strong>Adquiérelo desde $670 y nosotros te lo instalamos sin costo</strong>.
        </p>
        <p>
            El Medidor Electrónico está conectado al tanque estacionario y recibe permanentemente el porcentaje de Gas LP que hay en él.
        </p>
        <p>
            Al hacer la compra de tu Medidor Electrónico GASPASA, la instalación es gratuita y realizada por técnicos profesionales
            de la compañía y además te damos un año de garantía.
        </p>
        <p>
            Es recomendable que sea instalado en interiores, en un lugar seco y visible.
        </p>
        <p>
            El Medidor Electrónico te ofrece importantes ventajas:
        </p>
        <ul>
            <li>Nunca te quedarás sin gas al conocer el porcentaje que hay en tu tanque estacionario.</li>
            <li>
                Sabrás cuando programar tu pedido de gas con al menos un día de anticipación, participando en el plan SUMA PUNTOS y ganando
                GAS GRATIS.
            </li>
            <li>
                Evita accidentes ya que no será necesario que subas a la azotea a revisar el porcentaje de GAS LP con el que cuentas.
            </li>
            <li>
                Vive con tranquilidad, ya que en caso de una fuga en tu hogar te avisará con una alarma sonora.
            </li>
        </ul>
        <p>Más información y compras en <a href="http://www.gaspasa.com.mx/" target="_blank">http://www.gaspasa.com.mx/</a>.</p>
    </div>
</ons-page>