<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">Pollíticas de privacidad</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <p>
            Gas del Pacífico, S.A. de C.V. (en adelante, "Gas del Pacífico"), con domicilio en Aquiles Serdán #1507 Interior 3-E. Colonia
            Centro. Código Postal 82000, en Mazatlán, Sinaloa, en cumplimiento a lo establecido en la Ley Federal de Protección de Datos
            Personales en Posesión de los Particulares, es responsable de recabar datos personales de nuestros clientes y proveedores,
            del tratamiento que se le da a los mismos y de su protección. Por lo anterior, Gas del Pacífico ha establecido los siguientes
            lineamientos para proteger dicha información:
        </p>
        <br>
        <h3><strong>1. Información Personal Solicitada</strong></h3>
        <p>
            Gas del Pacífico solicitará a sus clientes y proveedores (en lo sucesivo los “titulares”) diversa información personal que
            será utilizada para la comercialización de nuestros productos, elaboración de los perfiles de los titulares, para el ofrecimiento
            de productos y servicios, así como de crédito, lo que nos permite brindarle un mejor servicio y elevar su calidad, misma
            que consiste en:
        </p>
        <ul>
            <li>Nombre Completo del cliente y/o proveedor</li>
            <li>Domicilio Particular</li>
            <li>Teléfonos de contacto</li>
            <li>Fecha de nacimiento</li>
            <li>Registro Federal de Contribuyentes</li>
            <li>Lugar de trabajo y puesto</li>
            <li>Datos bancarios y de facturación</li>
            <li>Correo Electrónico</li>
        </ul>
        <p>
            La información se solicita con el objeto de verificar y confirmar su identidad, así como para administrar y operar los servicios
            y productos que solicita o contrata con Gas del Pacífico y para cumplir con las obligaciones derivadas de los mismos, los
            cuales se encuentran debidamente detallados en la página de Internet <a href="www.gaspasa.com.mx" target="_blank">www.gaspasa.com.mx</a>; así como para el envío de la(s)
            factura(s) correspondientes que amparen la contraprestación por los mismos.
        </p>
        <p>
            En general, no existe obligación alguna de proveer ninguna información de carácter personal para efectos de consultar nuestra
            página de Internet. Sin embargo, Usted puede elegir contactarnos mediante la forma que se contiene en la pestaña “Contacto”
            de nuestro sitio o utilizar nuestra Aplicación para solicitar un servicio, caso en el que se solicitará su nombre, correo
            electrónico, teléfono, dirección y sus comentarios. Esta información será utilizada solamente para contactarlo y ofrecerle
            la información y/o servicio solicitado. Es importante señalar que no compartiremos su información personal con ningún tercero,
            con excepción de que dicha acción sea requerida por la ley o hasta el momento en que contrate un servicio con nosotros.
        </p>
        <p>
            De igual manera, Gas del Pacífico utilizará sus datos personales para enviar por correo electrónico, mensaje de texto o
            por teléfono información acerca de eventos, promociones y servicios que puedan ser de interés a los titulares. Si desea ser
            excluido de una lista de distribución de publicidad, puede solicitarlo ante los encargados del manejo de datos personales
            que se señalan en la parte conducente del presente aviso de privacidad.
        </p>
        <p>
            El titular manifiesta que desde que proporciona los datos requeridos, otorga su pleno consentimiento libre y voluntario,
            hasta en tanto manifieste su oposición expresa para que Gas del Pacífico, los conserve, resguarde y mantenga hasta en tanto
            los mismos se cancelen por haber cumplido con la finalidad para la cual fueron requeridos, o por solicitud expresa del titular
            en ejercicio de sus derechos.
        </p>
        <p>
            Por último, le informamos que para cumplir con las finalidades previstas en este Aviso de Privacidad, y para efectos de
            llevar a cabo los servicios que presta Gas del Pacífico a sus clientes y proveedores, no serán recabados y tratados datos
            personales sensibles, como por ejemplo: religión que profesan, participación en actividades espirituales, estado de salud,
            tipo de sangre, cartilla y/o certificado médico, entre otros de los mencionados en el artículo 3, fracción VI de la Ley Federal
            de Protección de Datos Personales en Posesión de los Particulares. No obstante en caso de que se llegaren a requerir, se
            hará de su conocimiento desde el momento en que sean recabados y previo a su envío para efectos de contar con su consentimiento
            expreso.
        </p>
        <p>
            Los datos sensibles que en su caso se llegasen a recabar serán tratados bajo las más estrictas medidas de seguridad que
            garanticen su confidencialidad, por lo que le hemos solicitado que indique si acepta o no el tratamiento de dichos datos,
            mediante la casilla destinada para ello en la pantalla de inicio de la aplicación.
        </p>
        <br>
        <h3><strong>2. Privacidad y Protección de Datos Personales</strong></h3>
        <p>
            Gas del Pacífico utiliza los procesos que están a su alcance, para la protección de los datos personales que resguarda.
            Toda la documentación es resguardada en equipos de cómputo especializados y bases de datos digitales, a los cuales solo tienen
            acceso las personas designadas para tales efectos mediante la clave de acceso y contraseña proporcionada por la empresa.
            Gas del Pacífico establece y mantiene medidas de seguridad administrativas, técnicas y físicas que permiten proteger los
            datos personales contra: daños, pérdida o alteración, destrucción, o el uso, acceso o tratamiento no autorizado, así como
            también implementa medidas precautorias administrativas, técnicas y físicas para resguardar los datos de los titulares de
            pérdidas, robos, o uso indebido, así como del acceso, la divulgación, modificación o destrucción no autorizados.
        </p>
        <br>
        <h3><strong>3. Transferencia de los datos</strong></h3>
        <p>
            Hasta en tanto el titular manifieste su oposición a la transferencia de sus datos personales cumpliendo con los requisitos
            que marca este aviso de privacidad, se entenderá que consiente en que Gas del Pacífico los transfiera única y exclusivamente
            en los términos indicados en el presente aviso de privacidad. Podrá presentar la copia debidamente firmada con su negativa
            de autorización en cualquiera de nuestras sucursales, cuyas direcciones se describen en la parte final del presente Aviso
            de Privacidad.
        </p>
        <br>
        <h3><strong>4. Responsabilidad sobre el uso de la Información.</strong></h3>
        <p>
            Gas del Pacífico podrá revelar sus datos fiscales, incluyendo la información financiera proporcionada por el titular, única
            y exclusivamente cuando sea útil para cumplir con la ley, para cooperar con o buscar asistencia por parte de autoridades
            de seguridad pública o para participar conjuntamente con otras entidades en actividades contra el fraude o en cualquiera
            de los supuestos previstos en el artículo 10 de la LFPDPPP.
        </p>
        <br>
        <h3><strong>5. Medios y procedimiento para la actualización del aviso de privacidad.</strong></h3>
        <p>
            Gas del Pacífico se reserva el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso
            de privacidad, para la atención de novedades legislativas, políticas internas de la empresa o nuevos requerimientos para
            la prestación u ofrecimiento de nuestros servicios.
        </p>
        <p>
            Estas modificaciones estarán disponibles al público a través de los siguientes medios: (i) anuncios visibles en nuestra
            página de Internet o (ii) mediante comunicado enviado al último correo electrónico que nos haya proporcionado.
        </p>
        <br>
        <h3><strong>6. Mecanismos para ejercer los derechos vinculados a la protección de datos personales (derechos ARCO).</strong></h3>
        <p>
            Usted tiene derecho a acceder a los datos personales que poseemos y los detalles del tratamiento de los mismos, así como
            a rectificarlos en caso de ser inexactos o incompletos; cancelarlos cuando considere que no se requieren para alguna de las
            finalidades señaladas en el presente aviso de privacidad, estén siendo utilizados para finalidades no consentidas o haya
            finalizado la relación de servicios, o bien, oponerse al tratamiento de los mismos para fines específicos.
        </p>
        <p>
            A fin de brindar al titular el medio para ejercer los derechos de Acceso, Rectificación, Cancelación u Oposición (conocidos
            como Derechos ARCO), Gas del Pacífico en su carácter de responsable pone a disposición de los titulares la dirección de correo
            electrónico avisoprivacidad@alerta.com.mx a través de la cual se dará trámite y seguimiento a las solicitudes de acceso,
            rectificación, cancelación u oposición, designando como encargado para tales efectos al Sr. Cruz Gabriel Carvajal López,
            en términos de lo establecido en el artículo 30 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares.
        </p>
        <p>
            Los titulares deberán enviar a través del correo electrónico antes mencionado a la atención del encargado, una solicitud
            para el acceso, rectificación, cancelación u oposición respecto de sus datos personales y deberán confirmar que Gas del Pacífico
            haya recibido su solicitud al número telefónico (669) 984-48-08 Ext. 254.
        </p>
        <p>
            Dicha solicitud deberá contener:
        </p>
        <ul>
            <li>
                El nombre completo del titular y todos los datos que le fueron solicitados para registrarse así como un correo electrónico
                para comunicarle la respuesta a su solicitud.
            </li>
            <li>
                Copia electrónica de los documentos que acrediten la identidad del titular de los datos personales (RFC, IFE).
            </li>
            <li>
                En caso de que el titular comparezca por representante, deberá exhibir por la misma vía, una carta poder simple firmada
                por el titular, su apoderado y dos testigos, adjuntando copia de las identificaciones del apoderado y dos testigos.
            </li>
            <li>
                Descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados.
            </li>
            <li>
                Cualquier otro elemento o documento que facilite la localización de los datos personales.
            </li>
            <li>
                Indicar las modificaciones a realizarse y/o las limitaciones al uso de los datos personales y aportar la documentación que
                sustente su petición.
            </li>
        </ul>
        <p>
            Gas del Pacífico comunicará al titular de los datos personales la determinación adoptada, en un plazo no mayor a 20 días
            hábiles contados desde la fecha en que se recibió la solicitud. Este plazo podrá ser ampliado por Gas del Pacífico en una
            sola ocasión por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso. Gas del Pacífico informará
            al titular de los datos personales el sentido y motivación de la resolución por correo electrónico y acompañará dicha resolución
            de las pruebas pertinentes, en su caso.
        </p>
        <p>
            Gas del Pacífico podrá negar el acceso total o parcial a los datos personales o a la realización de la rectificación, cancelación
            u oposición al tratamiento de los mismos, en los siguientes supuestos:    
        </p>
        <ul>
            <li>
                Cuando el solicitante no sea el titular o el representante legal no esté acreditado para ello.
            </li>
            <li>
                Cuando en la base de datos de Gas del Pacífico no se encuentren los datos personales del solicitante.
            </li>
            <li>
                Cuando se lesionen los derechos de un tercero.
            </li>
            <li>
                Cuando exista impedimento legal o resolución de una autoridad.
            </li>
            <li>
                Cuando Gas del Pacífico, tenga alguna acción legal en contra del titular.
            </li>
            <li>
                Cuando la rectificación, cancelación u oposición haya sido previamente realizada, de manera que la solicitud carezca de
                materia.
            </li>
        </ul>
        <p>
            Una vez cancelados los datos personales correspondientes, Gas del Pacífico dará aviso a su titular. Gas del Pacífico no
            estará obligado a cancelar los datos personales cuando se trate de los supuestos establecidos en el artículo 26 de la Ley
            Federal de Protección de Datos en Posesión de los Particulares.
        </p>
        <p>
            Asimismo, cuando la información recabada en los datos personales deje de ser necesaria para el cumplimiento de las ﬁnalidades
            previstas en este Aviso de Privacidad y en las disposiciones jurídicas aplicables, sus datos personales podrán ser cancelados
            de la base de datos de Gas del Pacífico al llevar a cabo los procesos de depuración correspondientes.
        </p>
        <br>
        <h3><strong>7. Quejas y denuncias</strong></h3>
        <p>
            Si usted considera que sus derechos de protección de datos personales han sido lesionados por alguna conducta de nuestros
            empleados o de nuestras actuaciones o respuestas a sus solicitudes, presume que en el tratamiento de sus datos personales
            existe alguna violación a las disposiciones de la Ley de Protección de Datos Personales en Posesión de los Particulares y/o
            su Reglamento, podrá interponer la queja o denuncia correspondiente ante el Instituto Federal de Acceso a la Información
            y Protección de Datos (IFAI). Para mayor información visite <a href="www.ifai.org.mx" target="_blank"></a>
        </p>
    </div>
</ons-page>