<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">Terminos y condiciones</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <h3><strong>USO</strong></h3>
        <p>
            Al usar, acceder, descargar, instalar, obtener o brindar información desde y hacia esta Aplicación Móvil, se considerará
            que los Usuarios han leído y aceptado conscientemente estos Términos y Condiciones (incluyendo nuestro <a href="http://www.gaspasa.com.mx/privacidad" target="_blank">Aviso de Privacidad</a>).
            Asimismo, al utilizar estos servicios particulares, usted estará sujeto a toda regla, disposición, manual o guía de uso correspondiente
            que se haya publicado para dichos servicios. El uso de esta Aplicación Móvil también estará sujeto a los Términos y Condiciones
            publicadas en la página web de Gaspasa. Tenga presente que todas las referencias al "sitio web" en nuestro Aviso de Privacidad
            también se consideran válidas para esta Aplicación Móvil, ya sea que se utilice en forma conjunta o independientemente del
            Sitio Web de la Compañía en <a href="www.gaspasa.com.mx" target="_blank">www.gaspasa.com.mx</a>. Toda participación de este servicio, tanto de su página web, su aplicación
            móvil o cualquier otro medio por el cual sea prestado el servicio brindado por GASPASA Gas del Pacifico de SA de CV. constituirá
            la aceptación de este acuerdo.
        </p>
        <p>
            Los Usuarios deben suspender el uso de esta Aplicación Móvil inmediatamente si no están de acuerdo o no aceptan todos estos
            Términos y Condiciones, de lo contrario estará otorgando su aprobación. La Compañía se reserva el derecho de eliminar o prohibir
            a cualquier Usuario la utilización de esta Aplicación Móvil a su sola discreción.
        </p>
        <br>
        <h3><strong>PRIVACIDAD</strong></h3>
        <p>
            Para conocer el uso y manejo de los datos e Información Personal otorgada a GASPASA para utilizar el servicio, tanto en
            la página web y en la plataforma, así como en la aplicación móvil y cualquier otro medio por el que sea prestado el servicio
            se deberán de revisar el Aviso de Privacidad ubicado en la página web <a href="http://www.gaspasa.com.mx/privacidad/" target="_blank">http://www.gaspasa.com.mx/privacidad/</a>.
        </p>
        <br>
        <h3><strong>DEFINICIONES</strong></h3>
        <ul>
            <li>
                Acuerdo: se refiere los presentes términos y condiciones que regularán la operatividad y manejo del servicio por parte de
                la compañía.
            </li>
            <li>
                Caso Fortuito: se aplica durante eventos en los que existe la intervención humana como pudiesen ser, de manera enunciativa
                más no limitativa, vandalismo, uso ilegal o no autorizado de interferencias de radiofrecuencia, huelgas, cierres patronales
                u otras perturbaciones industriales, la falta de piezas de cualquier tipo de bienes proporcionados, actos de enemigos públicos,
                las guerras, los bloqueos, las insurrecciones, revueltas, restricciones o prohibiciones por cualquier tribunal, consejo,
                comisión, departamento o agencia de los Estados Unidos Mexicanos o cualquier Estado, detenciones y restricciones, los disturbios
                civiles y las explosiones.
            </li>
            <li>
                Compañía: Gas del Pacifico S.A. de C.V. (comercialmente GASPASA)
            </li>
            <li>
                Comprador: la parte que lleva a cabo la compra de los servicios ofrecidos por la compañía.
            </li>
            <li>
                Equipo: los bienes vendidos o rentados mediante algún tipo de arreglo. Las licencias de software no se consideran equipo
                y se proporcionan por separado mediante una licencia de software de la compañía.
            </li>
            <li>
                Fuerza mayor: un evento más allá del control razonable de la compañía, incluidos los actos de Dios, huracanes, inundaciones,
                volcanes, tsunamis, tornados, tormentas, deslizamiento de tierras, epidemias, terremotos, incendios, entre otros.
            </li>
            <li>
                Medidor: es el dispositivo tecnológico para la medición y monitoreo de gas L.P. de tanques estacionarios.
            </li>
            <li>
                Propiedad Intelectual: Se entenderá como todo lo que se refiere a Propiedad Industrial e Intelectual, como lo es: cualquier
                copyright, derechos de diseño, patentes, modelos de utilidad, marcas, aviso comercial, nombres de dominio de Internet, derechos
                morales, derechos de bases de datos, datos, códigos, informes, dibujos, especificaciones, métodos de negocio, secretos industrial,
                por mencionar algunos.
            </li>
            <li>
                Información Personal: son todos los datos y hechos que se relacionan con la persona, ya sea para la creación de un perfil,
                o bien, aun los obtenidos por el simple uso de cualquier servicio brindado por la compañía.
            </li>
            <li>
                Terceros: son los prestadores de servicio de telefonía inalámbrica del Usuario; los fabricantes y vendedores de los dispositivos
                móviles en los que el Usuario descargue, instale, utilice o acceda a la Aplicación Móvil; el creador del sistema operativo
                para los dispositivos móviles del Usuario y el operador de cualquier tienda de aplicaciones o servicios similares mediante
                los cuales el Usuario obtenga la Aplicación Móvil, si existieran.
            </li>
            <li>
                Términos Adicionales: serán todos los acuerdos o disposiciones a las que se vincule la compañía con terceros, los cuales
                podrán acarrear consigo obligaciones distintas al presente Acuerdo.
            </li>
            <li>
                Solución: es el conjunto del Medidor y los Medios de Recepción que son utilizados para prestar los servicios de medición
                y administración de gas L.P. por parte de la compañía.
            </li>
            <li>
                Usuario: es aquella persona que usa el servicio prestado por la compañía, y que puede o no contar con una cuenta en la aplicación
                móvil o página web.
            </li>
        </ul>
        <br>
        <h3><strong>TERCEROS</strong></h3>
        <p>
            Los Terceros no son parte de estos Términos y Condiciones y no son propietarios ni responsables de la Aplicación Móvil.
            Los Terceros no brindan ninguna garantía en relación con la Aplicación Móvil. No son responsables del mantenimiento u otros
            servicios de soporte técnico de la Aplicación Móvil y no serán responsables ante ningún otro reclamo, pérdidas, imputación
            de responsabilidades, daños y perjuicios, costos o gastos vinculados con la Aplicación Móvil.
        </p>
        <p>
            Los Usuarios reconocen y aceptan que los Terceros y sus empresas subsidiarias son terceros beneficiarios de estos Términos
            y Condiciones y que ellos tienen el derecho (y se asumirá que han aceptado tal derecho) de ejercer estos Términos y Condiciones
            ante los usuarios como terceros beneficiarios.
        </p>
        <p>
            La Aplicación Móvil fue creada para la versión más reciente disponible en el mercado de los sistemas operativos de los dispositivos
            móviles de los Usuarios y pueden surgir inconvenientes de compatibilidad cuando se utilicen versiones anteriores. La cobertura
            de la red inalámbrica y la velocidad de la red de comunicación varían según el proveedor y la ubicación geográfica. La Compañía
            no se responsabiliza por las limitaciones y/o fallas en el funcionamiento de ningún servicio inalámbrico o Wi-FI que se use
            para acceder a esta Aplicación Móvil ni por la seguridad de los servicios inalámbricos o Wi-Fi. Asimismo, la Compañía no
            se responsabiliza de los cargos o tarifas por uso de redes de datos, que son exclusiva responsabilidad del Usuario.
        </p>
        <br>
        <h3><strong>ACTUALIZACIONES DE LA APLICACIÓN MÓVIL</strong></h3>
        <p>
            La Compañía puede solicitar al Usuario que actualice su versión de la Aplicación Móvil en cualquier momento. Aunque se harán
            todos los esfuerzos por conservar las configuraciones y preferencias personales del Usuario, seguirá existiendo la posibilidad
            de que las mismas se pierdan.
        </p>
        <br>
        <h3><strong>PROBLEMAS DE COBERTURA</strong></h3>
        <p>
            Al intentar realizar una transacción en la Aplicación Móvil, es posible que la conexión inalámbrica se interrumpa o que
            se desactive una función. En caso de que esto ocurriera, el Usuario deberá verificar el estado de la transacción que se haya
            intentado realizar tan pronto ingrese a un área con cobertura inalámbrica o tengan acceso a una computadora. El Usuario también
            puede ponerse en contacto con un representante de servicio al cliente de la Compañía a través de los teléfonos indicados
            en la Aplicación o de la página web.
        </p>
        <br>
        <h3><strong>SERVICIOS</strong></h3>
        <p>
            La Compañía proporciona Aplicaciones móviles y Web, que muestran la información enviada por los equipos, como lo es, el
            nivel actual de gas, puntos acumulados, estadísticas de consumo, recargas, consumos atípicos, notificaciones de eventos reportados
            por los dispositivos, seguimiento e historial de órdenes, capacidad de solicitar servicio para recargar, así como la capacidad
            de calificar los servicios que se consumen.
        </p>
        <br>
        <h3><strong>CUENTA</strong></h3>
        <p>
            El Usuario deberá registrarse para poder utilizar los productos y servicios ofrecidos por la Compañía. Dicho registro consistirá
            en la creación de una cuenta, donde se registrará con un número de celular y un correo electrónico. En caso de inhabilitar
            la cuenta de un usuario, éste no podrá crear otra sin previa autorización por parte de la Compañía. La cuenta no podrá ser
            transmitida a menos que exista un consentimiento previo por escrito por parte de la Compañía.
        </p>
        <br>
        <h3><strong>PRECIOS</strong></h3>
        <p>
            Todos los bienes y servicios ofrecidos por la Compañía para la venta, están sujetos a los precios y otras condiciones especificadas
            en la aplicación y en la página web, los cuales están sujetos a corrección de errores. Al dar clic en CONFIRMAR PEDIDO se
            entenderá como una orden de compra del Usuario constituyendo la aceptación de la oferta, sin embargo, cualquier incoherencia,
            Términos Adicionales o diferencias en dicha solicitud de oferta del comprador u modificación a la orden de compra quedarán
            rechazados por la Compañía, y no formarán parte del contrato de venta a menos que sea aceptada por en un escrito firmado
            por algún alto directivo de la Compañía. Todos los precios están sujetos a cambios en función de los precios de venta de
            la Compañía vigentes en la fecha de envío. Los precios para pedidos generales están sujetos a revisión y ajuste retroactivo,
            si es necesario, sobre la base de las cantidades enviadas.
        </p>
        <br>
        <h3><strong>CONDICIONES Y MÉTODO DE PAGO</strong></h3>
        <p>
            El Usuario podrá solicitar el servicio de suministro de gas L.P. por medio de la aplicación, al dar clic en PEDIR CILINDRO
            o hacer una programación de surtido. El pago se realizará al momento de recibir el servicio directamente con el operador.
            No se tendrá un cargo adicional por el servicio.
        </p>
        <br>
        <h3><strong>ACUERDOS</strong></h3>
        <p>
            Las presentes condiciones generales de venta, la garantía limitada, la orden de compra del comprador (excepto los términos
            adicionales), el Formulario de Acuse de recibo (si en su caso existiere) de la Compañía y la factura constituyen la totalidad
            del Acuerdo entre las partes con respecto al objeto del mismo y sustituye todos los acuerdos anteriores, entendidos u otras
            comunicaciones, ya sea escrita u oral, formal o informal, entre otros. La renuncia, la alteración, modificación o enmienda
            no será vinculante a menos que esté por escrito y firmado por un director de la Compañía.
        </p>
        <br>
        <h3><strong>ENTREGA</strong></h3>
        <p>
            Las fechas de envío citadas por la Compañía están hechas de buena fe pero de ninguna manera están garantizadas; la Compañía
            se reserva el derecho de modificar las fechas de envío del servicio que considere necesarias a su entera discreción, sin
            responsabilidad del comprador. En ausencia de instrucciones de envío del comprador, la Compañía utilizará su discreción en
            cuanto a la selección de los servicios de transporte y las rutas. La instalación del equipo es responsabilidad de la Compañía,
            a menos que se acuerde lo contrario por escrito.
        </p>
        <br>
        <h3><strong>FUERZA MAYOR Y CASO FORTUITO</strong></h3>
        <p>
            En el supuesto de que por un caso de fuerza mayor o caso fortuito, la Compañía sea incapaz, en su totalidad o en parte,
            de cumplir sus obligaciones en virtud de este Acuerdo, las obligaciones afectadas por el evento, se suspenderán en el plazo
            que se mantenga o persista dicha incapacidad. La Compañía tomará medidas razonables para mitigar los casos de fuerza mayor
            o casos fortuitos.
        </p>
        <br>
        <h3><strong>PROPIEDAD INTELECTUAL</strong></h3>
        <p>
            La propiedad intelectual no está asignada al Comprador y/o Usuario. La Compañía poseerá o seguirá siendo el propietario
            de todos los derechos de propiedad intelectual utilizados o creados en el transcurso de la realización de este acuerdo. Cualquier
            desarrollo realizado a partir de alguna sugerencia por parte de un Comprador, no se transmitirá o compartirá la titularidad
            de los derechos provenientes de dicha Propiedad Intelectual, por lo que serán propiedad de la Compañía. El comprador se compromete
            a no realizar ingeniería inversa de cualquier equipo comprado o suministrado. “Propiedad intelectual” significa las patentes
            y solicitudes de patentes, las invenciones patentables (patentables o no), marcas registradas, marcas de servicio, imagen
            comercial, derechos de autor, secretos comerciales, know-how, datos humanos, especificaciones, dibujos, diseños, derechos
            mask work, derechos morales, derechos de autor, y otros derechos de propiedad intelectual, que puedan existir ahora o en
            lo sucesivo, y todas las renovaciones y prórrogas, independientemente de cualquiera de esos derechos nacen bajo las leyes
            de los Estados Unidos Mexicanos o de cualquier otro estado, país o jurisdicción, los registros o las aplicaciones de los
            mismos, y todos los fondos de comercio pertinentes a ellas.
        </p>
        <br>
        <h3><strong>LIMITACIÓN DE RESPONSABILIDAD</strong></h3>
        <p>
            (A) LA RESPONSABILIDAD DE GASPASA ACUMULADA EN CUALQUIERA Y EN TODAS LAS CAUSAS DE ACCIÓN DERIVADAS DE, O RELACIONADAS CON
            ESTE ACUERDO, SU NEGOCIACIÓN, RENDIMIENTO, INCUMPLIMIENTO O TERMINACIÓN (COLECTIVAMENTE “CAUSAS DE ACCIÓN”) NO SUPERARÁ EL
            IMPORTE TOTAL PAGADO POR EL COMPRADOR A GASPASA EN VIRTUD DEL PRESENTE ACUERDO. ESTO ES ASÍ SI LAS CAUSAS DE ACCIÓN ESTÁN
            EN AGRAVIO, INCLUYENDO, SIN LIMITACIÓN, NEGLIGENCIA, RESPONSABILIDAD ESTRICTAS O EN CONTRATO, EN VIRTUD DEL ESTATUTO, DE
            LO ESTABLECIDO EN EL PRESENTE ACUERDO O CUALQUIER OTRO MEDIO LEGAL VINCULANTE. (B) DE FORMAS SEPARADAS E INDEPENDIENTES DE
            LA LIMITACIÓN DE LA RESPONSABILIDAD, LA RESPONSABILIDAD DE GASPASA SE LIMITARÁ A LOS DAÑOS DIRECTOS. GASPASA NO SERÁ RESPONSABLE
            DE: (I) CUALQUIER DAÑO INDIRECTO, INCIDENTAL, ESPECIAL O CONSECUENCIAL; (II) NI LOS INGRESOS O BENEFICIOS PERDIDOS POR EL
            COMPRADOR O SUS AFILIADOS DE CUALQUIER USUARIO FINAL, INDEPENDIENTEMENTE DE SI ESA PÉRDIDA DE INGRESOS O GANANCIAS SE CLASIFICA
            COMO DAÑOS DIRECTOS O DE LO CONTRARIO; (III) NI CUALQUIER COSTO (ENTRANTE O SALIENTE); (IV) NI DE LOS COSTOS Y GASTOS OCURRIDOS
            POR EL MEDIDOR. LOS COSTOS “ENTRANTES O SALIENTES” SIGNIFICAN CUALQUIER COSTO O GASTOS INCURRIDOS POR EL COMPRADOR EN EL
            TRANSPORTE DE MERCANCÍAS ENTRE SUS ALMACENES Y SU USUARIO. “USUARIO FINAL. (C) Las limitaciones de responsabilidad establecidas
            en este Acuerdo son incentivos fundamentales por los que GASPASA está realizando el presente Acuerdo, es por ello que se
            aplican incondicionalmente y en todos los aspectos derivados de los servicios ofrecidos por GASPASA. Asimismo, van a ser
            interpretados de la manera más amplia posible, a fin de dar la máxima protección a GASPASA permitida en virtud de la ley.
            (D) En la máxima medida permitida por la ley, ninguna causa de acción puede ser iniciada por el comprador contra GASPASA
            doce (12) meses después de que la causa de acción haya surgido por primera vez. En el cálculo de los daños y perjuicios de
            cualquier causa de acción, los daños ocasionados a más de doce (12) meses anteriores a la presentación de la causa de acción
            serán irrecuperables. Esta página no se hace responsable de la exactitud, utilidad o disponibilidad de cualquier información
            que se transmita o ponga a disposición a través de la misma; no será responsable por cualquier error u omisión en dicha información.
        </p>
        <br>
        <h3><strong>INDEMNIZACIÓN</strong></h3>
        <p>
            El comprador o usuario se compromete a sacar en paz y a salvo, así como a indemnizar a la Compañía de y contra cualquier
            reclamación, responsabilidad, demanda, daños, pérdidas, costos y gastos, en la ley o en equidad, de cualquier tipo y naturaleza
            en absoluto, en la medida en que surjan del uso por parte del Comprador sobre el equipo, excepto en la medida en que esas
            pérdidas surjan de un incumplimiento de este Acuerdo por parte del vendedor.
        </p>
        <br>
        <h3><strong>CONFIDENCIALIDAD</strong></h3>
        <p>
            El comprador o usuario, así como sus empleados y socios se obligan a guardar estricta confidencialidad respecto de la Información
            Confidencial que puede incluir, de manera enunciativa más no limitativa, la siguiente: Secretos comerciales, contratos, cotizaciones,
            muestras, precios facturas, documentos internos, reportes, códigos fuentes, los términos de este acuerdo, planes de marketing
            y comercialización, información técnica sobre los productos o servicios, rendimiento de los equipos, información financiera
            y de negocios, software, diseño, los datos proporcionados por la Compañía derivados del mismo servicio, así como otra información
            valiosa de cualquier naturaleza que no sea conocida por el público sin importar el medio en el que se sustente, por lo tanto
            no podrá divulgarla sin autorización ni informar bajo ningún pretexto a cualquier tercero esa información. En cualquier caso
            que no se encuentre expresamente previsto en estos términos y condiciones se presumirá que toda la información intercambiada
            entre las partes es confidencial y deberá adecuarse a lo establecido en este punto.
        </p>
        <br>
        <h3><strong>TERMINACIÓN</strong></h3>
        <p>
            En caso de que el comprador o usuario infrinja el espíritu, la esencia o alguna disposición en el presente Acuerdo, cree
            riesgos de cualquier tipo para la Compañía o exponga al mismo a posibles responsabilidades jurídicas, la Compañía podrá impedir
            el acceso a sus servicios y productos de forma total o parcial. Se le notificará por correo electrónico o la próxima vez
            que intente acceder a su cuenta. De igual manera, el comprador o usuario podrá eliminar su cuenta o desactivar su aplicación
            en cualquier momento que así lo desee.
        </p>
        <br>
        <h3><strong>CONDICIONES GENERALES</strong></h3>
        <h3>CESIONES</h3>
        <p>
            El comprador o usuario no podrá ceder, transferir o delegar este contrato, así como cualquier parte de los derechos o deberes
            del comprador, sin previo aviso y consentimiento de la Compañía. Cualquier intento de cesión en violación de esta sección
            ser nula y sin efecto.
        </p>
        <br>
        <h3>ENLACES CON EL SITIO WEB</h3>
        <p>
            El comprador estará de acuerdo en que si se incluye un enlace (link) de cualquier otro sitio web al Sitio Web, dicho enlace
            se abrirá en una nueva ventana navegadora y se enlazará con la versión completa de una página formateada HTML de este Sitio
            Web. El comprador no tiene permitido enlazarse directamente a ninguna imagen almacenada en el Sitio Web o en nuestros servicios,
            como sería usar un método de enlace “en-línea” para provocar que la imagen almacenada por nosotros fuera expuesta en otro
            sitio web. Asimismo, se obliga a no descargar o usar imágenes almacenadas en este Sitio Web en otro sitio web, con cualquier
            propósito, incluyendo, sin limitación, publicar dichas imágenes en otro sitio web. De igual manera, se obliga a no enlazarse
            de cualquier otro sitio web a este Sitio Web de tal manera que el Sitio Web, o cualquier página del Sitio Web, esté “enmarcado”,
            rodeado u ofuscado por los contenidos, materiales o posicionamientos de marca de cualquier tercero. Nos reservamos todos
            nuestros derechos bajo la ley para insistir en que cualquier enlace al Sitio Web sea descontinuado y a revocar su derecho
            a enlazarse al Sitio Web de cualquier otro sitio web, en cualquier momento en el que le mandemos notificación por escrito.
            GASPASA se desvincula de cualquier información, problema, infracciones o inconveniente causado al Comprador o Usuario de
            páginas de terceros, por lo que en ningún momento podrán ejercer acción civil, mercantil, penal o cualquier otra en contra
            de GASPASA por cuestiones de una página web de un tercer, inclusive si dicho enlace está en la Aplicación móvil o página
            Web.
        </p>
        <br>
        <h3>LEY APLICABLE Y RESOLUCIÓN DE CONTROVERSIAS</h3>
        <p>
            Este Acuerdo se regirá, interpretará y aplicará de conformidad con las leyes de la CIUDAD DE MAZATLÁN, sin tener en cuenta
            conflictos de principios legales. Cualquier y todas las disputas derivadas de, o en relación con este acuerdo o su rendimiento
            (“controversias”) deberá ser resuelta por las Partes, al procurar la mediación en MAZATLÁN y conforme sus leyes o reglamentos.
            Si el conflicto no se resuelve transcurridos sesenta (60) días del comienzo de la mediación será litigado en los tribunales
            estatales o federales ubicados en el estado de SINALOA. EN LA MÁXIMA MEDIDA PERMITIDA POR LA LEY, LAS PARTES CONVIENEN EN
            MEDIACIÓN Y QUE NO HABRÁ JUICIO EN CUALQUIER CONTROVERSIA A MENOS QUE SOBREPASE EL TIEMPO SEÑALADO EN EL PRESENTE PÁRRAFO.
            EL COMPRADOR RENUNCIARÁ A CUALQUIER OTRA JURISDICCIÓN O PROTECCIÓN, YA SEA DE MÉXICO O DE CUALQUIER OTRO PAÍS.
        </p>
    </div>
</ons-page>