<ons-page ng-controller="TankController as tank" class="flexbox-container">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Tanques</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div>
    <ons-list class="list-big-items">
      <ons-list-item>
        <ons-row>
  <ons-col>

   <canvas  id="myCanvas"></canvas>
      Actualizado

          </ons-col>
  <ons-col>
      <ons-col style="padding-top:3cm;">
          <ons-col width="200px" heigth="200px">
              <div style="text-align: center;">Casa</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Dias restantes: 0</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Proximo surtido:</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">0:</div></ons-col>
      </ons-col>
       </ons-col>
                <ons-col width="40px"> 
             <div style="text-align: center; text:60px;" ng-click="open()">></div>
             </ons-col>
</ons-row>
      </ons-list-item>
      <ons-list-item>
         <ons-row>
  <ons-col>
        <canvas id="myCanvas2"></canvas>
      Actualizado
     </ons-col>
  <ons-col>
      <ons-col style="padding-top:3cm;">
          <ons-col width="200px" heigth="200px">
              <div style="text-align: center;">Casa</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Dias restantes: 0</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Proximo surtido:</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">0:</div></ons-col>
      </ons-col>
       </ons-col>
             <ons-col width="40px">
             <div style="text-align: center; text:60px;">></div>
             </ons-col>
</ons-row>
      </ons-list-item>
      <ons-list-item>
        <ons-row>
  <ons-col>
        <canvas id="myCanvas3"></canvas>
      Actualizado
     </ons-col>
  <ons-col>
      <ons-col style="padding-top:3cm;">
          <ons-col width="200px" heigth="200px">
              <div style="text-align: center;">Casa</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Dias restantes: 0</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">Proximo surtido:</div></ons-col>
          <ons-col width="200px" heigth="200px"><div style="text-align: center;">0:</div></ons-col>
      </ons-col>
       </ons-col>
                <ons-col width="40px">
             <div style="text-align: center; text:60px;">></div>
             </ons-col>
</ons-row>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>