<ons-page class="flexbox-container gray-b" ng-controller="SettingsTEController as settingsTE" ons-init="settingsTE.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()" ng-show="mySplitter">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
      <ons-back-button ng-hide="mySplitter">Inicio</ons-back-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Configuración</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically padding-2x">
    <ons-list style="background-color: transparent;">
      <div class="title-header">
        <ons-icon class="header-icon" icon="fa-comment">
        </ons-icon>
        ¿Cómo te notificaremos?
      </div>
      <ons-list-item tappable>
        <label class="left">
          <ons-radio class="blue" name="notify" input-id="radio-1" ng-model="settingsTE.config.notify_level"></ons-radio>
        </label>
        <label for="radio-1" class="center">
          Nivel bajo (10%)
        </label>
      </ons-list-item>

      <ons-list-item tappable>
        <label class="left">
          <ons-radio class="blue" name="notify" input-id="radio-2" ng-model="settingsTE.config.notify_level"></ons-radio>
        </label>
        <label for="radio-2" class="center">
          Nivel crítico (5%)
        </label>
      </ons-list-item>
      <ons-list-item tappable>
        <label class="left">
          <ons-radio class="blue" name="notify" input-id="radio-4" ng-model="settingsTE.config.notify_level"></ons-radio>
        </label>
        <label for="radio-4" class="center">
         Recordatorio de cita
        </label>
      </ons-list-item>
      <ons-list-item tappable ng-click="settingsTE.showPicker()" style="padding-left: 72px;">
        <label style="padding: 0.5em 1em; border: 1px solid gray; width: 100%;">
         {{ ("0" + settingsTE.config.time.hour).slice(-2) }}:{{ ("0" + settingsTE.config.time.minutes).slice(-2) }} {{ settingsTE.config.time.period }} {{ settingsTE.config.time.dayBefore ? 'un día antes' : '' }}
        </label>
      </ons-list-item>
    </ons-list>
    <ons-list style="background-color: transparent; margin-top: 32px;">
      <ons-list-item>
        <ons-switch class="orange-blue" ng-model="settingsTE.config.status_facturas" style="margin-right: 16px;"></ons-switch>
        <label class="center">
          Facturación automática
        </label>
      </ons-list-item>
      <ons-list-item>
        <ons-switch class="orange-blue" ng-model="settingsTE.config.status_promociones" style="margin-right: 16px;"></ons-switch>
        <label class="center">
          Envío de promociones
        </label>
      </ons-list-item>
    </ons-list>
  </div>
  <div class="bottom">
    <ons-row ng-show="mySplitter">
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;"
            ng-click="settingsTE.save()">
       Guardar 
      </ons-button>
    </ons-row>
    <ons-row ng-hide="mySplitter">
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;"
            ng-click="settingsTE.next()">
        Siguiente
        <ons-icon icon="fa-caret-right" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
      </ons-button>
    </ons-row>
  </div>
</ons-page>