<ons-page class="gray-b" ng-controller="ConsumptionController as cons" ons-init="cons.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Consumo</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="padding-2x">
    <ons-row>
      <div class="title-header-orange">
        <div class="header-icon">
          <ons-icon icon="fa-usd"></ons-icon>
        </div>
        Tu historial de consumos
      </div>
    </ons-row>
    <table class="table">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in cons.consumption">
            <td>Cilindro {{ c.CILINDRO }} kg</td>
            <td>{{ moment(c.FEC_PED).format('DD/MM/YYYY') }}</td>
            <td>{{ c.cantidad }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</ons-page>