<ons-page ng-controller="TankInformationController as tank" class="flexbox-container">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Casa</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
    
     <ons-carousel swipeable overscrollable auto-scroll fullscreen var="carousel">
    <ons-carousel-item>
      <div style="padding-top:140px; text-align: center;">
    TANQUES
    </div>
    
  <div class="padding-2x row-separation-sm" style="font-size: 1.5em;">
    <ons-row>
      <div style="margin: 0 auto; text-align: center;">Estimamos que te quedan</div>
    </ons-row>
    <ons-row>
      <div style="margin: 0 auto; text-align: center; font-size: 1.5em;">
        <span class="flip-digit">1</span>
        <span class="flip-digit">2</span> 
        días de gas
      </div>
    </ons-row>
  </div>
    
    <ons-row>
      <div class="padding-2x" style="background: #cacaca;">
        <div class="margin-auto" style="font-size: 1.5em;">
          Cita confirmada el Martes 01 de Agosto
        </div>
        <div class="margin-auto bold blue" style="font-size: 1.7em; padding: 0 16px;">
           de 3 a 4 pm
        </div>
      </div>
    </ons-row>
    </ons-carousel-item>
    <ons-carousel-item >
      <canvas id="bar-chart" width="800" height="450"></canvas>
        <ons-col>
            <h6>Mes de mayor consumo</h6>
            <h6>Mes de mayor consumo</h6>
            <h6>Mes de mayor consumo</h6>
            <h6>Comparar</h6>
        </ons-col>
    </ons-carousel-item>
    <ons-carousel-item>
      <canvas id="line-chart" width="800" height="450"></canvas>
         <ons-col>
            <h6>Vuscar Historial</h6>
        
             
                 <ons-input type="date" placeholder="De" ng-model="dateValue"></ons-input>
                             <ons-input type="date" placeholder="De" ng-model="dateValue"></ons-input>
            <ons-button>Comparar</ons-button>
        </ons-col>
    </ons-carousel-item>
  </ons-carousel>
   
    
</ons-page>