<ons-page class="flexbox-container gray-b scroll" ng-controller="RequestController as request" ons-init="request.init($event)">
  <ons-toolbar>
    <div class="left"><ons-back-button>Inicio</ons-back-button></div>
    <div class="center">
      <span class="title-toolbar">Pedir Gas</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>

  <div class="flex-fill-vertically padding-2x">
    <ons-row>
      <div class="title-header">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 16px;" />
        </div>
        Verifica la información de tu pedido
      </div>
    </ons-row>
    <div class="form-list">
      <ons-row>
        <div class="title-header-light">
          <div class="header-icon">
            <ons-icon icon="fa-map-marker"></ons-icon>
          </div>
          Dirección
        </div>
      </ons-row>
      <ons-row>
        <ons-select class="text-box" ng-model="request.order.padron_id" id="choose-sel" style="width: 100%" ng-change="request.addressChanged()" placeholder="Seleccione una dirección">
          <option value="-1" ng-if="request.addresses.length > 1">
            Seleccione una dirección
          </option>
          <option ng-repeat="address in request.addresses" value="{{ address.padron_id }}">
            {{ address.nombre_calle_cliente }} #{{ address.num_casa_cliente }}{{ !!address.num_int_cliente ? 'Int #' + address.num_int_cliente : '' }}, {{ address.colonia_cliente }}
          </option>
        </ons-select>
      </ons-row>
      <ons-row>
        <div class="title-header-light">
          <div class="header-icon">
            <img src="assets/img/cilinder-one.png" style="height: 24px;" />
          </div>
          Tipo de pedido
        </div>
      </ons-row>
      <ons-row>
        <div class="text-box">
          Cilindro {{ request.order.capacidad_cilindro }} kg. {{ request.order.aditivo ? 'con AD+' : '' }}
        </div>
      </ons-row>
      <ons-row>
        <div class="title-header-light">
          <div class="header-icon">
            <img src="assets/img/cilinder-many.png" style="height: 24px;" />
          </div>
          Cantidad
        </div>
      </ons-row>
      <ons-row>
        <div class="text-box">
          {{ request.order.cantidad }}
        </div>
      </ons-row>
      <ons-row>
        <div class="title-header-light">
          <div class="header-icon">
            <ons-icon icon="fa-money"></ons-icon>
          </div>
          Total
        </div>
      </ons-row>
      <ons-row>
        <div class="text-box">
          {{ request.order.total | currency }}
        </div>
      </ons-row>
      <ons-row ng-show="request.selectedAddress.tipo_promocion">
        <div class="title-header">
          <div class="header-icon">
            <ons-icon icon="fa-money"></ons-icon>
          </div>
          Promoción
        </div>
      </ons-row>
      <ons-row ng-show="request.selectedAddress.tipo_promocion">
        <div class="text-box">
          30 minutos o ¡gratis!
        </div>
      </ons-row>
    </div>
  </div>
  <div class="bottom">
    <ons-row>
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;" 
            ng-click="confirmRequest()">
          Confirmar pedido
      </ons-button>
    </ons-row>
  </div>
</ons-page>