<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">Preguntas frecuentes</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <p>El Gas LP es un combustible muy amigable, se debe de manejar siempre con seguridad. Aquí encontrarás más información que
        te ayudará a conocerlo mejor y a aclarar tus dudas.</p>
        <br>
        <h3><strong>¿Qué es el Gas LP?</strong></h3>
        <p>
            El Gas Licuado de Petróleo, es un hidrocarburo que se deriva del petróleo, es una mezcla de propano y butano.
        </p>
        <p>
            Se produce en estado vapor, pero es convertido a líquido para que pueda ser transportado hasta las plantas de almacenamiento.
            En México su uso es doméstico, comercial, industrial y automotriz.
        </p>
        <br>
        <h3><strong>¿Cuáles son las características que tiene el Gas LP?</strong></h3>
        <p>
            El Gas LP es incoloro e inodoro en su estado natural. Es más pesado que el aire, por lo que al momento de escaparse se ubicará
            en las partes más bajas del área, como pisos o sótanos. Además es un combustible más limpio que la gasolina o el diésel.
        </p>
        <br>
        <h3><strong>Entonces, si el Gas LP es inodoro en su estado natural, ¿por qué huele?</strong></h3>
        <p>
            Como medida de seguridad, para poder detectar alguna fuga al Gas LP se le agrega un odorante llamado Mercaptano, de esta
            manera podrás detectar cuando exista alguna fuga.
        </p>
        <br>
        <h3><strong>¿Qué diferencia existe entre cilindros y tanques estacionarios?</strong></h3>
        <p>
            La diferencia entre un cilindro y un tanque estacionario es la instalación y la capacidad de almacenaje. Un cilindro está
            diseñado para ser transportado de un lugar a otro, por otra parte un tanque estacionario se ubica en un lugar de manera fija.
        </p>
        <br>
        <h3><strong>¿Qué debo de hacer si en mi hogar huele a gas?</strong></h3>
        <p>Es importante que si en tu casa huele a gas sigas las siguientes instrucciones:</p>
        <ul>
            <li>Cierra la válvula de tu cilindro o tanque estacionario.</li>
            <li>No actives ningún interruptor de luz, de ser posible corta la energía eléctrica.</li>
            <li>Abre puertas y ventanas, mantén el lugar ventilado.</li>
            <li>Reporta la fuga a nuestros números de atención.</li>
        </ul>
        <br>
        <h3><strong>¿Cómo sé si mi tanque estacionario ya necesita ser cambiado?</strong></h3>
        <p>
            Si tienes 10 años o más con tu tanque estacionario es necesario que lo renueves. Pero si tu tanque estacionario tiene menos
            años y se encuentra oxidado, solicita una revisión de parte de nuestros técnicos. Esto es muy común sobre todo en las ciudades
            en las que existe mucha humedad.
        </p>
        <br>
        <h3><strong>¿Cómo sé si mi cilindro o tanque están bien instalados?</strong></h3>
        <p>
            Lo principal para saber si tu instalación es segura, es que tu cilindro o tanque estacionario se encuentren instalados en
            un área ventilada y fuera de tu casa, es decir en el patio o en la azotea. También es muy importante que la instalación se
            encuentre hecha con material especialmente diseñado para el manejo de Gas LP, como la tubería de cobre o multicapa.
        </p>
        <br>
        <h3><strong>¿Cómo puedo ahorrar en Gas LP?</strong></h3>
        <p>
             En tu siguiente pedido, solicita a nuestra operadora que te envíe Gas con ADITIVO AD+, con este ahorrarás en tu hogar hasta
            un 12% de tus consumos. También puedes solicitarlo para tu negocio o en tu vehículo.
        </p>
        <br>
        <h3><strong>¿Puedo pagar con tarjeta bancaria?</strong></h3>
        <p>
            Contamos con la opción de pago en terminales bancarias, pregunta a la operadora la disponibilidad en tu siguiente pedido.
        </p>
        <br>
        <h3><strong>¿Cómo puedo solicitar gas con GASPASA?</strong></h3>
        <p>Es muy fácil, solicítalo a través de tu APP o llámanos.</p>
    </div>    
</ons-page>