<ons-page ng-controller="BillingController as billing" class="flexbox-container gray-b">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Facturación</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically row-separation-sm padding-2x">
    <ons-row>
      <div class="title-header">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 16px;" />
        </div>
        Tus datos de facturación
      </div>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-user"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="name" placeholder="Nombre" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-file-text-o"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="rfc" placeholder="RFC" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-map-marker"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="address" placeholder="Calle ##" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="text" id="neighborhood" placeholder="Colonia" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="rfc" id="city" placeholder="Ciudad, Estado" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-envelope"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="email" placeholder="Correo" readonly float style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-button modifier="quiet" class="blue" style="margin-left: auto;" ng-click="edit()">
        <ons-icon
          icon="fa-pencil">
        </ons-icon>
        Editar
      </ons-button>
    </ons-row>
    <ons-row>
      <div class="title-header">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 16px;" />
        </div>
        <span style="display: inline-block; width: calc(100% - 50px); vertical-align: middle;">
          Con la facturación automática tus facturas se envían por correo
        </span>
      </div>
    </ons-row>
    <ons-list style="padding: 0 1em;">
      <ons-list-item class="blue bold">
        <ons-col>
          Factura_2017-09-28
        </ons-col>
        <ons-col width="36px">
          <ons-icon
          icon="fa-file-text-o">
        </ons-icon>
        </ons-col>
      </ons-list-item>
      <ons-list-item class="blue bold">
        <ons-col>
          Factura_2017-09-28
        </ons-col>
        <ons-col width="36px">
          <ons-icon
          icon="fa-file-text-o">
        </ons-icon>
        </ons-col>
      </ons-list-item>
      <ons-list-item class="blue bold">
        <ons-col>
          Factura_2017-09-28
        </ons-col>
        <ons-col width="36px">
          <ons-icon
          icon="fa-file-text-o">
        </ons-icon>
        </ons-col>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>