<ons-page class="flexbox-container gray-b" ng-controller="RateController as rate" ons-init="rate.init($event)">
  <ons-toolbar noshadow class="no-shadow">
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Calificar</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="flex-fill-vertically container-center row-separation-sm padding-2x" style="flex-direction: column;">
    <div style="position: absolute; top: 0; width: 100%; padding: 1em; box-sizing: border-box;">
      <ons-row>
        <div class="title-header-orange">
          <div class="header-icon">
            <img src="assets/img/logo-white.png" style="width: 16px;" />
          </div>
          ¡Califica tu pedido!
        </div>
      </ons-row>
      <ons-row>
        <div style="text-align: center; margin: 0 auto; font-size: 1.2em;">¿Cómo calificas nuestro servicio?</div>
      </ons-row>
      <ons-row style="padding: 0;">
        <ons-col width="50%" align="center">
          <ons-row>
            <div style="font-size: 80px; margin: 0 auto;">
              <ons-icon 
                  ng-if="!rate.order.unit.foto_operador.includes('http')"
                  class="blue" 
                  icon="fa-user-circle" 
                  style="height: 100px; width: 100px; line-height: 100px; text-align: center;">
              </ons-icon>
            </div>
            <img 
               ng-src="{{ rate.order.unit.foto_operador }}" 
               style="width: 100px; height: 100px; border-radius: 50%; margin: 0 auto;" 
               ng-if="rate.order.unit.foto_operador.includes('http')"/>
          </ons-row>
          <ons-row class="blue" style="font-size: 14px;">
            <div style="margin: 0 auto;">Operador</div>
          </ons-row>
          <ons-row style="padding: 0; font-weight: bold;"  class="blue">
            <div style="margin: 0 auto; font-size: 4vw; text-align: center; height: 20px; line-height: 20px; overflow: hidden;">
              {{ rate.order.unit.nombre_operador }}
            </div>
          </ons-row>
        </ons-col>
        <ons-col width="50%" align="center">
          <ons-row>
            <img src="assets/img/cilinder.png" style="width: 100px; height: 100px; margin: 0 auto;" />
          </ons-row>
          <ons-row class="blue" style="font-size: 14px;">
            <div style="margin: 0 auto;">Unidad</div>
          </ons-row>
          <ons-row style="padding: 0; font-weight: bold;"  class="blue">
            <div style="margin: 0 auto;">{{ rate.order.unit.numero_unidad }}</div>
          </ons-row>
        </ons-col>
      </ons-row>
      <ons-row>
        <ons-col style="text-align: center; font-size: 1.5em;">
          <div class="blue-b" style="display: inline-block; padding: 8px; border-radius: 100px; margin: 1em 0;">
            <span ng-repeat="star in stars" ng-click="setRating(star)" style="margin: 0 8px;">
              <ons-icon icon="fa-star" ng-hide="star <= rate.order.rating.calificacion" style="color: white; margin: 0 auto;">
              </ons-icon>
              <ons-icon icon="fa-star" ng-show="star <= rate.order.rating.calificacion" style="color: #f29610; margin: 0 auto;">
              </ons-icon>
            </span>
          </div>
        </ons-col>
      </ons-row>
      <ons-row ng-show="rate.order.rating.calificacion <= 3">
        <textarea
          ng-model="rate.order.rating.descripcion_problema"
          placeholder="¿Qué salió mal?" 
          style="width: 100%; padding: 1em; border: 1px solid #ccc; font-family: Roboto,Noto,sans-serif; margin-bottom: 1em; border-radius: 2px; resize: none;">
        </textarea>
      </ons-row>
      <div style="border-top: 1px solid black; border-bottom: 1px solid black; padding: 1.5em 0.5em;">
        <ons-row>
          <ons-col>
            {{ rate.questions['Pregunta1:'] }}
          </ons-col>
          <ons-col width="100px" style="font-size: 30px; color: #ccc; text-align: center;">
            <ons-icon 
                style="margin: 0 8px;"
                icon="fa-smile-o" 
                ng-class="{ 'blue-happy' : rate.order.rating.pregunta_1 === true }"
                ng-click="rate.order.rating.pregunta_1 = true">
            </ons-icon>
            <ons-icon 
                style="margin: 0 8px;"
                icon="fa-frown-o" 
                ng-class="{ 'red-angry' : rate.order.rating.pregunta_1 === false }"
                ng-click="rate.order.rating.pregunta_1 = false">
            </ons-icon>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            {{ rate.questions['Pregunta2:'] }}
          </ons-col>
          <ons-col width="100px" style="font-size: 30px; color: #ccc; text-align: center;">
            <ons-icon 
                style="margin: 0 8px;"
                icon="fa-smile-o" 
                ng-class="{ 'blue-happy' : rate.order.rating.pregunta_2 === true }"
                ng-click="rate.order.rating.pregunta_2 = true">
            </ons-icon>
            <ons-icon 
                style="margin: 0 8px;"
                icon="fa-frown-o" 
                ng-class="{ 'red-angry' : rate.order.rating.pregunta_2 === false }"
                ng-click="rate.order.rating.pregunta_2 = false">
            </ons-icon>
          </ons-col>
        </ons-row>
      </div>
    </div>
  </div>
  <div class="bottom">
    <ons-row style="justify-content: space-around;">
      <ons-col width="45%">
        <ons-button
            class="margin-top margin-bottom blue-o"
            modifier="large"
            ng-click="skip()">
          Omitir
        </ons-button>
      </ons-col>
      <ons-col width="45%">
        <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large"
            ng-disabled="!isAllowToRate()"
            ng-click="sendRating()">
          Calificar
        </ons-button>
      </ons-col>
    </ons-row>
  </div>
</ons-page>