<ons-page ng-controller="AssignController as assign" ons-init="assign.init($event)" ons-destroy="assign.destroy($event)" class="flexbox-container">
  <ons-toolbar noshadow class="no-shadow">
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Asignación</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="blue-b white shadow padding center-text" style="font-size: 20px;">
    <div style="width: 90%; margin: 0 auto; text-align: left;">
      <div class="title-header" style="background: transparent !important; border-bottom: 1px solid #ccc;">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 20px;" />
        </div>
        Estamos asignando tu pedido
      </div>
      <div class="title-header" style="background: transparent !important; border-bottom: 1px solid #ccc;">
        <div class="header-icon">
          <ons-icon icon="fa-clock-o"></ons-icon>
        </div>
        <span style="font-size: 16px;">Hora de registro</span>
        <span style="float: right; padding-right: 1em;">{{ moment(assign.order.hora_registro).format('h:mm A') }}</span>
      </div>
      <div class="title-header" style="background: transparent !important; margin-bottom: 0.5em; border-bottom: 1px solid #ccc;">
        <div class="header-icon">
          <ons-icon icon="fa-thumbs-o-up"></ons-icon>
        </div>
        <span style="font-size: 16px;">Hora de compromiso</span>
        <span style="float: right; padding-right: 1em;">{{ moment(assign.order.hora_registro).add(MINUTES_PROMISE, 'minute').format('h:mm A') }}</span>
      </div>
    </div>
  </div>
  <div class="flex-fill-vertically container-center">
    <div class="container-relative">
      <!--<img src="assets/img/cilinder.png" class="center-in-container"/>
      <ons-progress-circular indeterminate class="full-progress-bar blue" style="left: 0; top: 0;">
      </ons-progress-circular>-->
      <div class="wrapper-light" style="margin-bottom: 1em;">
        <div class="pie spinner"></div>
        <div class="pie filler"></div>
        <div class="mask"></div>
        <div class="center_indicator">
          <div class="indicator" style="padding: 1em;">
            <img src="assets/img/cilinder.png" style="width: 100%;"/>
          </div>
        </div>
        <div class="clock-layout">
          <!--<img class="svg" src="assets/img/clock.svg" />-->
        </div>
      </div>
      <div style="text-align: center;">
        <ons-button class="orange-b" ng-click="assign.cancel()">
          Cancelar
        </ons-button>
      </div>
    </div>
  </div>
</ons-page>