<ons-page ng-controller="InRouteController as inRoute" class="flexbox-container" ons-init="inRoute.init($event)" ons-destroy="inRoute.destroy($event)">
  <ons-toolbar noshadow class="no-shadow">
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Entrega</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div class="blue-b white shadow padding center-text">
    <div style="width: 90%; margin: 0 auto; text-align: left;">
      <div class="title-header" style="background: transparent !important; border-bottom: 1px solid #ccc;">
        <div class="header-icon">
          <img src="assets/img/logo-white.png" style="width: 20px;" />
        </div>
        <span ng-hide="inRoute.order.status == 'ORDER_ARRIVED'">
          Pedido en ruta
        </span>
        <span ng-show="inRoute.order.status == 'ORDER_ARRIVED'">
          Tu pedido ha llegado
        </span>
      </div>
      <div class="title-header" style="background: transparent !important; border-bottom: 1px solid #ccc;">
        <div class="header-icon">
          <ons-icon icon="fa-map-marker"></ons-icon>
        </div>
        <div style="display: inline-block; vertical-align: middle; font-size: 14px;">
          <div>Dirección</div>
          <div>
            <span>
              {{ inRoute.order.direccion.nombre_calle_cliente }} #{{ inRoute.order.direccion.num_casa_cliente }}{{ !!inRoute.order.direccion.num_int_cliente ? 'Int #' + inRoute.order.direccion.num_int_cliente : '' }}, {{ inRoute.order.direccion.colonia_cliente }}
            </span>
          </div>
        </div>
      </div>
      <ons-row style="border-bottom: 1px solid #ccc; font-size: 14px;">
        <ons-col>
          <div class="title-header" style="background: transparent !important;">
            <div class="header-icon">
              <ons-icon icon="fa-user-circle" ng-if="!inRoute.order.unit.foto_operador"></ons-icon>
              <img ng-src="{{ inRoute.order.unit.foto_operador }}" ng-if="!!inRoute.order.unit.foto_operador" style="width: 28px; border-radius: 50%;">
            </div>
            <div style="display: inline-block; vertical-align: middle; width: calc(100% - 42px);">
              <ons-row>
                <span>Operador</span>
              </ons-row>
              <ons-row class="bold">
                <span style="text-transform: uppercase; text-align: left; max-height: 20px; overflow: hidden; line-height: 20px; font-size: 3vw;">
                  {{ inRoute.order.unit.nombre_operador }}
                </span>
              </ons-row>
            </div>
          </div>
        </ons-col>
        <ons-col style="padding: 0.5em 0;">
          <ons-row>
            <span style="padding-left: 1em;">Unidad</span>
          </ons-row>
          <ons-row class="bold">
            <span style="padding-left: 1em;">{{ inRoute.order.unit.numero_unidad }}</span>
          </ons-row>
        </ons-col>
      </ons-row>
      <ons-row style="border-bottom: 1px solid #ccc; margin-bottom: 0.5em;">
        <ons-col>
          <div class="title-header" style="background: transparent !important;">
            <div class="header-icon">
              <ons-icon icon="fa-clock-o"></ons-icon>
            </div>
            <div style="display: inline-block; vertical-align: middle; font-size: 14px;">
              <ons-row>
                <span>Registro</span>
              </ons-row>
              <ons-row class="bold">
                <span>
                  {{ moment(inRoute.order.hora_registro).format('h:mm A') }}
                </span>
              </ons-row>
            </div>
          </div>
        </ons-col>
        <ons-col>
          <div class="title-header" style="background: transparent !important;">
            <div class="header-icon">
              <ons-icon icon="fa-thumbs-o-up"></ons-icon>
            </div>
            <div style="display: inline-block; vertical-align: middle; font-size: 14px;">
              <ons-row>
                <span>Compromiso</span>
              </ons-row>
              <ons-row class="bold">
                <span>
                  {{ moment(inRoute.order.hora_registro).add(MINUTES_PROMISE, 'minute').format('h:mm A') }}
                </span>
              </ons-row>
            </div>
          </div>
        </ons-col>
      </ons-row>
    </div>
  </div>
  <div class="flex-fill-vertically container-center" style="flex-direction: column;">
    <div class="container-relative" style="color: #c6c6be; width: 100%; display: flex; flex-direction: column; height: 100%; justify-content: center;" ng-hide="inRoute.order.status == 'ORDER_ARRIVED'">
        <div id="cronometer" class="wrapper-light sm no-animate" style="margin-bottom: 1em; height: 90%; margin-top: 1em; max-width: 250px; max-height: 250px;">
          <div class="pie spinner"></div>
          <div class="pie filler"></div>
          <div class="mask"></div>
          <div class="center_indicator">
            <div class="indicator" style="padding: 1em; background: #283d9e">
              <div class="orange" style="text-align: center;">
                <div id="text-cronometer" class="big-icon" style="font-size: 2.5em;">{{ inRoute.time.format('mm:ss') }}</div>
                <div id="text-cronometer-sm" style="text-transform: uppercase; font-weight: bold;">MINUTOS</div>
                
              </div>
            </div>
          </div>
          <div class="center_indicator" style="z-index: 4000000;">
            <div class="indicator" style="padding: 1em; background: transparent">
              <img 
                   id="imgCronometer" 
                   src="assets/img/cilinder.png" 
                   style="width: 60px; transform: rotate(-90deg) translateX(84px) rotate(90deg);" />
            </div>
          </div>
          <div class="clock-layout">
            <img class="svg" src="assets/img/clock-blue.svg" />
          </div>
        </div>
        <div style="text-align: center; margin-bottom: 1em;">
          <ons-button class="orange-b" ng-click="inRoute.cancel()">
            Cancelar
          </ons-button>
        </div>
      </div>
    <ons-row ng-show="inRoute.order.status == 'ORDER_ARRIVED'" style="justify-content: center;">
      <div style="font-size: 16px; padding: 1em; border-top: 1px solid black; border-bottom: 1px solid black; width: 100%; margin: 0.5em 2em; text-align: center;">
        Hora de llegada 
        <span class="blue">
          {{ moment(inRoute.order.hora_llegada).format('h:mm A') }}
        </span>
      </div>
      <div style="text-align: center;" ng-show="!!+inRoute.order.order.gana_promocion">
        <img src="assets/img/felicidades-gratis.png" style="width: 60%;"/>
      </div>
    </ons-row>
  </div>
  <div class="bottom" ng-show="inRoute.order.status == 'ORDER_ARRIVED'">
    <ons-row>
      <ons-button
            class="margin-top margin-bottom orange-b"
            modifier="large" 
            style="font-size: 1em;" 
            ng-click="inRoute.confirmArrive()">
        Confirmar entrega
      </ons-button>
    </ons-row>
  </div>
</ons-page>