<ons-page class="gray-b" ng-controller="PointsController as points" ons-init="points.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="mySplitter.left.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Puntos</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <div style="padding: 1em;">
    <ons-row>
      <div class="title-header-orange">
        <div class="header-icon">
          <ons-icon icon="fa-cubes"></ons-icon>
        </div>
        Actualmente cuentas con
      </div>
    </ons-row>
    <ons-row class="orange" style="font-size: 80px; margin: 0.5em 0;" align="center">
      <ons-col>
        <div style="margin: 0 auto; text-align: center; font-weight: bold;">{{ 50 }}</div>
      </ons-col>        
      <ons-col>
        <img src="assets/img/suma-puntos.png" style="width: 100%;"/>
      </ons-col>
    </ons-row>
    <ons-row style="margin: 0.5em 0;">
      <ons-button
          class="blue-b"
          modifier="large" 
          style="font-size: 1em; padding: 0.5em 0;" 
          ng-click="">
        Cambiarlos por Aditivo 
        <img src="assets/img/adp-white.png"  style="height: 32px; display: inline-block; vertical-align: middle;"/>
      </ons-button>
    </ons-row>
    <ons-row style="margin: 0.5em 0;">
      <ons-button
          class="margin-top margin-bottom orange-b"
          modifier="large" 
          style="font-size: 1em; padding: 0.5em 0;" 
          ng-click="points.loadOrderCil()">
        Pedir cilindro
        <ons-icon icon="fa-caret-right" style="margin-left: 8px; font-size: 1.2em;"></ons-icon>
      </ons-button>
    </ons-row>
    <ons-row>
      <table class="table">
        <thead>
          <tr>
            <th>Actividad</th>
            <th>Fecha</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Pedido por APP</td>
            <td>01/01/2017</td>
            <td>10 puntos</td>
          </tr>
          <tr>
            <td>Pedido por APP</td>
            <td>01/01/2017</td>
            <td>10 puntos</td>
          </tr>
          <tr>
            <td>Pedido por APP</td>
            <td>01/01/2017</td>
            <td>10 puntos</td>
          </tr>
        </tbody>
      </table>
    </ons-row>
    <ons-row style="font-size: 30px;">
      <ons-icon icon="fa-chevron-down" style="margin: 0 auto;" class="blue" ng-click="points.loadConsumption()">
      </ons-icon>
    </ons-row>
  </div>
</ons-page>