<ons-page class="flexbox-container gray-b" ng-controller="ChooseController as choose" ons-init="choose.init($event)">
  <ons-toolbar>
    <div class="center">
      <span class="title-toolbar">Servicio</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>
  <ons-row class="padding-2x">
    <ons-row class="title-header">
      <div class="header-icon">
        <img src="assets/img/logo-white.png" style="width: 16px;" />
      </div>
      ¿Qué servicio deseas?
    </ons-row>
  </ons-row>
  <div class="flex-fill-vertically padding-2x container-center row-separation-sm" style="flex-direction: column">
    <div style="position: absolute; top: 0;">
      <ons-row align="center" ng-click="choose.selectService(PROFILE_CI)">
        <ons-row>
          <div style="text-align: center; width:100%;">
            <img src="assets/img/cylindrer.png"  style="height: 96px;"/>
          </div>
        </ons-row>
        <ons-row style="font-size: 18px; text-transform: uppercase">
          <div style="text-align: center; width:100%;">
            Cilindro
          </div>
        </ons-row>
      </ons-row>
      <ons-row align="center" ng-click="choose.selectService(PROFILE_TE)">
        <ons-row>
          <div style="text-align: center; width:100%;">
            <img src="assets/img/tank.png" style="height: 96px;"/>
          </div>
        </ons-row>
        <ons-row style="font-size: 18px; text-transform: uppercase">
          <div style="text-align: center; width:100%;">
            Estacionario
          </div>
        </ons-row>
      </ons-row>
    </div>
  </div>
  <div class="bottom">
    <ons-row class="padding-2x-h">
      <div style="text-align: center; width: 100%; margin-top: 16px;">
        Con aditivo <img src="assets/img/adp.png" style="width: 40px; border-radius: 50%; vertical-align: middle;"/> tienes mas rendimiento
      </div>
    </ons-row>
    <ons-row>
      <ons-button
        class="margin-top orange-b"
        modifier="large" 
        style="font-size: 1em; margin-bottom: 1em;"
        ng-click="report()">
          Reportar fuga
          <ons-icon
            icon="fa-phone">
          </ons-icon>
      </ons-button>
    </ons-row>
  </div>
</ons-page>