  <ons-page ng-controller="LoadingController as loading" class="flexbox-container page-center gray-b" ons-init="loading.init($event)">
     <div 
          style="text-align: center; flex-direction: column; width: 90%; margin: 0 auto; background-color: white; min-height: 600px;" 
          class="container-center row-separation-sm padding-2x">
          <img id="imagen" src="assets/img/logo-texto.png" style="width: 90%; margin-bottom: 1em;"/>
          <ons-row>
              <ons-progress-circular indeterminate class="orange" style="margin: 0 auto;"></ons-progress-circular>
          </ons-row>
      </div>
</ons-page>