  <ons-page ng-controller="StartController as start" class="flexbox-container page-center gray-b" ons-init="start.init($event)">
     <div 
          style="text-align: center; flex-direction: column; width: 90%; margin: 0 auto; background-color: white; min-height: 600px;" 
          class="container-center row-separation-sm padding-2x">
     <img id="imagen" src="assets/img/logo-texto.png" ng-click="start.imagePicker()" style="width: 80%; margin-bottom: 1em;"/>
       <ons-row align="center" class="text-field">
         <ons-col class="blue text-field-icon" width="48px">
            <ons-icon icon="fa-map-marker">
            </ons-icon>
          </ons-col>
          <ons-col class="text-field-input">
            <ons-select ng-model="start.client.plaza" id="choose-sel" style="width: 100%" ng-disabled="start.readOnlyPlace">
              <option ng-repeat="place in start.places" value="{{ place.id }}">{{ place.name }}</option>
            </ons-select>
          </ons-col>
       </ons-row>
        <ons-row align="center" class="text-field">
          <ons-col class="blue text-field-icon" width="48px">
            <ons-icon icon="fa-mobile">
            </ons-icon>
          </ons-col>
          <ons-col class="text-field-input">
            <ons-input 
               id="telefono" 
               type="number" 
               min="0" 
               step="1"
               placeholder="Telefono" 
               ng-readonly="start.readOnlyPhone"
               ng-model="start.client.celular_cliente" 
               style="width: 100%">
            </ons-input>
          </ons-col>
        </ons-row>
       <ons-row align="center" class="text-field">
          <ons-col class="blue text-field-icon" width="48px">
            <ons-icon icon="fa-envelope" style="font-size: 16px;">
            </ons-icon>
          </ons-col>
          <ons-col class="text-field-input">
            <ons-input 
               id="correo" 
               type="text" 
               placeholder="Correo" 
               ng-readonly="start.readOnlyEmail"
               ng-model="start.client.correo_cliente"
               style="width: 100%">
            </ons-input>
          </ons-col>
        </ons-row>
       <ons-row style="margin-top: 8px;">
         <label class="left padding-2x">
            <ons-checkbox class="blue" 
                          input-id="check-1" 
                          ng-model="start.acceptTerms" 
                          style="float: left; margin-right: 10px;"
                          ng-change="start.termCheckChanged()">
            </ons-checkbox>
            <div style="display: inline-block; float: left; width: calc(100% - 32px); text-align: left">Acepto términos / aviso de privacidad</div>
          </label>
       </ons-row>
       <ons-row>
          <ons-button
                ng-disabled="!start.isFormComplete()"
                class="margin-top orange-b"
                modifier="large" 
                style="font-size: 1.2em; padding: 0.3em;" 
                ng-click="start.login()">
            Registrarme
          </ons-button>
         <ons-button
                class="margin-top blue-b"
                modifier="large" 
                style="font-size: 1.2em; padding: 0.3em;" 
                ng-click="start.callCenter()">
            <ons-icon icon="fa-phone"></ons-icon>
            <span style="display: none;" id="phonePlaceSpan">{{ start.getFormatedPhone(start.getSelectedPlace().phone) }}</span>
          </ons-button>
        </ons-row>
    </div>
</ons-page>