<ons-page class="flexbox-container gray-b" ng-controller="UserProfileController as profile" ons-init="profile.init($event)">
  <ons-toolbar>
    <div class="left">
      <ons-back-button ng-click="profile.close()">Inicio</ons-back-button>
    </div>
    <div class="center">
      <span class="title-toolbar">Cuenta</span>
    </div>
    <div class="right">
      <img class="logo-toolbar" src="assets/img/logo_mini.png"/>
    </div>
  </ons-toolbar>

<div class="flex-fill-vertically padding-2x row-separation-sm">
  <ons-row align="center">
      <ons-col align="center" class="mid-icon" style="text-align: center; margin-bottom: 16px;">
        <div class="profile-user-img" ng-style="{ 'background-image': mySplitter.getUserImage() }" ng-show="mySplitter.userImageUrl" ng-click="profile.imagePicker()"></div>
        <ons-icon class="big-icon blue" icon="fa-user-circle" ng-hide="mySplitter.userImageUrl" ng-click="profile.imagePicker()"></ons-icon>
      </ons-col>
    </ons-row>
    <ons-row>
      <div class="title-header">
        <ons-icon class="header-icon" icon="fa-pencil">
        </ons-icon>
        Tus datos registrados
      </div>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-icon blue" width="48px">
        <ons-icon icon="fa-user"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="name" placeholder="Nombre" ng-model="profile.client.nombre_cliente" readonly style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="blue text-field-icon" width="48px">
        <ons-icon icon="fa-envelope"></ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="email" placeholder="Correo" ng-model="profile.client.correo_cliente" readonly style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="blue text-field-icon" width="48px">
        <ons-icon icon="fa-map-marker">
        </ons-icon>
      </ons-col>
      <ons-col class="text-field-input">
        <ons-input type="text" id="address" placeholder="Calle y Número" ng-model="profile.client.direccion_cliente" readonly style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
      <ons-col class="text-field-input">
        <ons-input type="rfc" id="city" placeholder="Colonia" ng-model="profile.client.colonia_cliente" readonly style="width: 90%;"></ons-input>
      </ons-col>
    </ons-row>
    <ons-row align="center" class="text-field">
        <ons-col class="text-field-input">
          <ons-input type="text" id="place" placeholder="Ciudad" ng-model="profile.client.poblacion_cliente" readonly style="width: 90%;"></ons-input>
        </ons-col>
     </ons-row>
    <ons-row align="center">
      <ons-row>
        <div class="title-header">
          <div class="header-icon">
            <img src="assets/img/logo-white.png" style="width: 16px;" />
          </div>
          Tipo de cliente
        </div>
      </ons-row>
      <ons-col style="text-align: center;" ng-class="{ 'service-not-selected': !profile.client.profile.includes(PROFILE_CI) }">
        <img src="assets/img/cylindrer.png" style="height: 64px" />
      </ons-col>
      <ons-col style="text-align: center;" ng-class="{ 'service-not-selected': !profile.client.profile.includes(PROFILE_TE) }">
        <img src="assets/img/tank.png"  style="height: 64px" />
      </ons-col>
    </ons-row>
  </div>
</ons-page>