<ons-modal var="loadingModal" class="modal-flex" style="height: 100%; background-color: rgba(0, 0, 0, 0.3);">
  <ons-progress-circular indeterminate class="orange" style="margin: 0 auto;"></ons-progress-circular>
</ons-modal>