<ons-page ng-controller="SplitterController as splitter" ons-init="splitter.init($event)">
  <ons-splitter var="mySplitter" class="splitter-menu">
    <ons-splitter-side side="left" width="80%" collapse>
      <ons-page>
        <div class="splitter-header">
          <ons-row align="center">
            <ons-col align="center" class="mid-icon" style="text-align: center; margin-bottom: 16px;">
              <div class="profile-user-img" ng-style="{ 'background-image': mySplitter.getUserImage() }" ng-if="mySplitter.userImageUrl" ng-click="splitter.showUserProfile()"></div>
              <ons-icon class="big-icon white" icon="fa-user-circle" ng-if="!mySplitter.userImageUrl" ng-click="splitter.showUserProfile()"></ons-icon>
            </ons-col>
          </ons-row>
          <ons-row>
            <ons-col class="user-name" style="text-align: center; font-weight: 400;">
              {{ splitter.userData.nombre_cliente }}
            </ons-col>
          </ons-row>
          <ons-row>
            <ons-col class="user-name" style="text-align: center; font-weight: 400;">
              {{ splitter.celular_cliente }}
            </ons-col>
          </ons-row>
        </div>
        <ons-list style="font-size: 1.2em; margin-top: 8px;">
          <ons-list-item 
               ng-click="splitter.loadHome()" 
               ng-class="{ 'menu-selected': splitter.selectedPage.includes('views/home/index') }"
               tappable
               class="blue list-item-none-divider">
            <i class="menu-icon fa fa-home"></i>
            Inicio
          </ons-list-item>
          <ons-list-item 
               ng-repeat="option in splitter.OPTIONS"
               ng-click="mySplitter.load(option.view)" 
               ng-class="{ 'menu-selected': option.view === splitter.selectedPage }"
               tappable
               class="blue list-item-none-divider">
            <i class="menu-icon fa {{ option.icon }}"></i>
            {{ option.name }}
          </ons-list-item>
          <ons-list-item 
               ng-show="splitter.userData.profile.length > 1"
               ng-click="splitter.selectService()" 
               tappable>
            Seleccionar servicio
          </ons-list-item>
          <ons-list-item 
               class="blue"
               ng-click="splitter.logout()" 
               tappable>
            <ons-icon icon="fa-sign-out" class="menu-icon">
            </ons-icon>
            Cerrar sesión
          </ons-list-item>
        </ons-list>
      </ons-page>
    </ons-splitter-side>
    <ons-splitter-content page="{{ splitter.defaultView() }}"></ons-splitter-content>
  </ons-splitter>
</ons-page>