<div class="wrapper">
  <div class="pie spinner"></div>
  <div class="pie filler"></div>
  <div class="mask"></div>
  <div class="center_indicator">
    <div class="indicator">
      <div class="orange">
        <div class="big-icon">{{ spinnerValue }}</div>
        <div style="text-transform: uppercase; font-weight: bold;">{{ spinnerText }}</div>
      </div>
    </div>
  </div>
  <div class="clock-layout">
    <img class="svg" src="assets/img/clock.svg" />
  </div>
</div>