<ons-page class="flexbox-container gray-b scroll">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Atras</ons-back-button>
        </div>
        <div class="center">
            <span class="title-toolbar">En caso de fugas</span>
        </div>
        <div class="right">
            <img class="logo-toolbar" src="assets/img/logo_mini.png" />
        </div>
    </ons-toolbar>

    <div class="flex-fill-vertically padding-2x">
        <h3><strong>¿Qué hacer en caso de fuga?</strong></h3>
        <p>
            Es importante que si en tu casa huele a gas sigas las siguientes instrucciones:
        </p>
        <ul>
            <li>Cierra la válvula de tu cilindro o tanque estacionario.</li>
            <li>No actives ningún interruptor de luz, de ser posible corta la energía eléctrica.</li>
            <li>Abre puertas y ventanas, mantén el lugar ventilado.</li>
            <li>Reporta la fuga a nuestros números de atención.</li>
        </ul>
    </div>
</ons-page>